html {
  font-size: 62.5%;
  font-family: 'Work Sans', sans-serif;
}

body {
  margin: 0;
  font-family: 'Work Sans', sans-serif;
}

.app {
  margin: 50px;
}

.search {
  padding: 10px;
  font-size: 20px;
  outline: none;
}

.list {
  padding: 0;
  list-style: none;
  text-align: center;
}

.listItem {
  margin-bottom: 20px;
  font-size: 25px;
  color: #444;
  font-weight: 300;
}

td {
  padding: 10px;
  border: 1px solid #ccc;
}

th {
  text-align: center;
  border: 1px solid #ccc;
  padding: 10px;
}

table {
  margin-top: 15px;
  font-size: 14px;
}
.app {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
